# Ignore the Scrapped folder
Scrapped/
Clean Data/

# Ignore the page_source.html file
page_source.html
stop.txt
error_log.txt
temp_url.txt

# Python cache files
__pycache__/
*.pyc
*.pyo


# Other files and directories to ignore
*.log
*.db
*.sqlite3
*.DS_Store
